@media only screen and (max-width: 782px) {
  .services-container {
    flex-direction: column;
    min-width: 250px;
    max-width: 350px;
    height: auto;
  }

  .service p {
    margin-bottom: 4.5rem;
  }

  .service:first-of-type {
    border-radius: 5px 5px 0 0;
    margin-top: 20%;
  }

  .service:last-of-type {
    border-radius: 0 0 5px 5px;
    margin-bottom: 20%;
  }
}
